* {
  font-family: Arial, Helvetica, sans-serif;
}

canvas {
  background-color: rgb(240, 240, 240);
  border: 5px solid rgb(0, 0, 0);
  position: relative;
}

#fadeIn {
  position: absolute;
  z-index: 99999;
  width: 100vw;
  height: 100vh;
  background-color: black;
  animation: fadeOut 2s ease forwards;
  pointer-events: none;
}

@keyframes fadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

.pan {
  cursor: grab;
}

.text {
  cursor: text;
}

.note {
  cursor: cell;
}

.react-draggable-dragging {
  cursor: grabbing;
}

.note-container {
  position: absolute;
  z-index: 99999;
}

#linkStatus {
  position: absolute;
  pointer-events: none;
  z-index: 999999;
  width: 100vw;
  text-align: center;
}

#linkStatus div {
  background-color: rgba(0, 0, 0, 0.541);
  display: inline-block;
  box-sizing: border-box;
  padding: 10px 30px;
  margin-top: 100px;
  color: rgb(255, 255, 255);
  border-radius: 7px;
}

.svgWrapper {
  position: absolute;
  z-index: 1;
  pointer-events: none;
}
