* {
  font-family: Arial, Helvetica, sans-serif;
}

canvas {
  background-color: rgb(240, 240, 240);
  border: 5px solid rgb(0, 0, 0);
  position: relative;
}

#fadeIn {
  position: absolute;
  z-index: 99999;
  width: 100vw;
  height: 100vh;
  background-color: black;
  animation: fadeOut 2s ease forwards;
  pointer-events: none;
}

@keyframes fadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

.pan {
  cursor: grab;
}

.text {
  cursor: text;
}

.note {
  cursor: cell;
}

.dragging {
  cursor: grabbing;
}

.react-draggable-dragging,
.react-draggable-dragging textarea,
.react-draggable-dragging input {
  cursor: grabbing !important;
}

.note-container {
  position: absolute;
  z-index: 99999;
}

#linkStatus {
  position: absolute;
  pointer-events: none;
  z-index: 999999;
  width: 100vw;
  text-align: center;
}

#linkStatus div {
  background-color: rgba(0, 0, 0, 0.541);
  display: inline-block;
  box-sizing: border-box;
  padding: 10px 30px;
  margin-top: 100px;
  color: rgb(255, 255, 255);
  border-radius: 7px;
}

.svgWrapper {
  position: absolute;
  z-index: 1;
}

#clear {
  position: absolute;
  z-index: 9999;
  left: 30px;
  bottom: 30px;
  display: flex;
  align-items: center;
  background-color: white;
  padding: 10px;
  border-radius: 7px;
  box-shadow: 5px 5px 12px rgba(0, 0, 0, 0.178);
  cursor: pointer;
  color: rgba(0, 0, 0, 0.603);
}

#clear:hover svg {
  opacity: 0.8;
}

#clear:active svg {
  color: rgb(57, 70, 255);
}

#save {
  position: absolute;
  z-index: 9999;
  left: 30px;
  top: 30px;
  display: flex;
  align-items: center;
}

.saveIcon {
  background-color: white;
  padding: 7px 9px 5px 9px;
  border-radius: 7px;
  box-shadow: 5px 5px 12px rgba(0, 0, 0, 0.178);
  cursor: pointer;
}

.saveIcon svg {
  color: rgba(0, 0, 0, 0.603);
}

.saveIcon:hover svg {
  opacity: 0.8;
}

.saveIcon:active svg {
  color: rgb(57, 70, 255);
}

.lastSaved {
  display: flex;
  flex-direction: column;
  margin-left: 20px;
  font-size: 0.9rem;
}

.lastSaved span {
  font-size: 0.7rem;
  font-weight: bold;
  color: grey;
  margin-bottom: 5px;
}
