#container-about {
  min-height: 100vh;
  width: 100vw;
  background-color: #141413;
  cursor: none;
  color: white;
  display: flex;
  justify-content: center;
}

#main img {
  width: 25vh;
  margin-bottom: 5vh;
  align-self: center;
}

#main p {
  color: white;
  font-family: "Lato";
  max-width: 40vh;
}

#container-about #main {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

#container-about #main div {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#contact {
  margin-top: 8vh;
  display: flex;
  justify-content: center;
  height: 5rem;
  align-items: flex-end;
  flex-direction: row !important;
  max-width: 90vw;
  flex-wrap: wrap;
}

#contact a {
  color: white;
  padding-bottom: 7px;
  position: relative;
  height: fit-content;
  font-size: 1rem;
  border-bottom: 1px solid white;
  transition: all 0.3s ease;
  margin: 1.5vh 30px;
}

#contact a:hover {
  padding-bottom: 12px;
}

#about {
  position: absolute;
  z-index: 0;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

#about p {
  color: rgba(255, 255, 255, 0.034);
  font-family: "Recoleta";
  font-weight: bold;
  font-size: 37vw;
  position: absolute;
  top: 50%;
  transform: translateY(-46%);
  left: -5vw;
}

.skills{
  display: flex;
  flex-direction: row !important;
  margin-top: 3.5vh;
  max-width: 40vh;
  flex-wrap: wrap;
  gap: 0.9vw;
}

.skills img{
  filter: grayscale(0.8);
  width: 2rem !important;
  margin-bottom: 0 !important;
}

.tooltip{
  font-family: 'Lato';
  font-size: 1rem !important;
}