#container-dark {
  height: 100vh;
  width: 100vw;
  overflow: hidden !important;
  background-color: #141413;
  cursor: none;
  color: white;
  display: flex;
  justify-content: center;
}

#container-dark #content {
  overflow: hidden;
}

#fadeOut-dark {
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 100vw;
  background-color: #141413;
  z-index: 9998;
  opacity: 1;
  animation: fadeOut 1s ease-in-out forwards;
  pointer-events: none;
}

@keyframes fadeOut {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

#main-work {
  width: 80vw;
  height: 102vh;
  top: 0vh;
  left: -10vw;
  position: absolute;
  display: flex;
  align-items: center;
  overflow: auto;
}

#main-work img {
  display: none;
}

.workNumber {
  font-family: "Recoleta";
  -webkit-text-stroke-width: 0.5px;
  -webkit-text-stroke-color: #a5a5a5;
  color: transparent;
  font-size: 3rem;
  font-weight: bold;
  width: 8rem;
}

.workItem h2 {
  font-family: "Recoleta";
  font-weight: bold;
  color: #cdcdcd;
  font-size: 8rem;
  width: auto;
  transition: all 0.2s ease;
  line-height: 8rem;
  white-space: nowrap;
}

.workItem:hover h2 {
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: #cdcdcd;
  cursor: pointer;
  /* opacity: 0.4; */
  color: transparent;
}

.workList {
  list-style: none;
  display: flex;
  flex-direction: column;
  height: 100%;
  position: absolute;
  z-index: 20;
  left: 15vw;
  /* overflow: auto; */
  width: 55%;
  /* mix-blend-mode: luminosity; */
}

.workItem div {
  display: inline-flex;
  align-items: flex-end;
}

.workItem {
  width: fit-content;
  margin: 5vh 0;
}

.workItem:last-of-type {
  padding-bottom: 30vh;
}

.workItem:first-of-type {
  padding-top: 20vh;
}

.parallax-wrapper {
  position: absolute;
  top: 0;
}

.track-vertical {
  height: 30%;
  width: 5px !important;
  top: 50%;
  transform: translateY(-50%);
  right: 0;
  background-color: rgb(54, 54, 54);
  border-radius: 100px;
}

.thumb-vertical {
  background-color: rgb(75, 75, 75);
  border-radius: 100px;
}
