<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>WebRTC Prototype</title>
    <link rel="stylesheet" href="css/home.css">
    <script>
        const USER_COUNT = "<%= userCount %>"
    </script>
    <script src="home.js"></script>
    <script src="three.r119.min.js"></script>
    <script src="vanta.halo.min.js"></script>
    <script src="https://unpkg.com/@popperjs/core@2/dist/umd/popper.min.js"></script>
    <script src="https://unpkg.com/tippy.js@6/dist/tippy-bundle.umd.js"></script>
</head>
<body>
    <div class="container">
        <div>
            <h1>WebRTC Prototype</h1>
            <div id="online-users">
                <div id="green-circle"></div>
                <h2 id="user-count">Online users</h2>
            </div>
            <a href="create-room"><button>Start video chatting</button></a>
            <p>..or participate in an existing call</p>
            <div id="row">
                <input type="text" placeholder="liable-harlequin-owl" id="input">
                <button onclick="joinRoom()">Join call</button>
            </div>
        </div>
    </div>

    <script>
        VANTA.HALO({
            el: ".container",
            mouseControls: true,
            touchControls: true,
            gyroControls: false,
            minHeight: 200.00,
            minWidth: 200.00
        })

        document.getElementById('user-count').innerHTML = 'Online users: ' + USER_COUNT
    </script>
</body>
</html>