<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>WebRTC Prototype</title>
    <link rel="stylesheet" href="css/home.css">
    <script src="home.js"></script>
</head>
<body>
    <div class="container">
        <h1>WebRTC Prototype</h1>
        <div class="buttons">
            <a href="create-room"><button>Create room</button></a>
            <button onclick="joinRoom()">Join room</button>
        </div>
    </div>
</body>
</html>