#container{
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    justify-content: space-between;
}

#video-grid{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    min-height: 80%;
    align-items: center;
 }

video{
    height: 300px;
    width: 400px;
    object-fit: cover;
    padding: 8px;
    border-radius: 14px;
}

body{
    background-color: rgb(34, 35, 36);
    overflow-y: hidden;
}

.room-code{
    color: rgba(255, 255, 255, 0.767);
    box-sizing: border-box;
    padding: 30px;
    padding-bottom: 0;
}

*{
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
}

h2{
    font-weight: 200;
    font-size: 1rem;
}

h1{
    font-size: 2rem;
    display: inline;
    color: rgba(255, 255, 255, 0.767);
}

.room-code i{
    display: inline-block;
    margin-left: 20px;
    color: rgba(255, 255, 255, 0.336);
}

i:hover, .controls div:hover, .aiheader div:hover{
    cursor: pointer;
}

.controls{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    color: rgba(255, 255, 255, 0.555);
    box-sizing: border-box;
    padding: 40px;
    padding-top: 0;
}

.controls div, .aiheader div{
    background-color: rgba(0, 0, 0, 0.199);
    height: 60px;
    width: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    margin: 0px 10px;
}

.aiheader div{
    height: 40px !important;
    width: 40px !important;
    margin: 0 !important;
}

.controls div:hover, .aiheader div:hover{
    background-color: rgba(255, 255, 255, 0.027);
}

#unmute, #showVideo{
    color: rgba(245, 37, 37, 0.603);
}

.left-container{
    height: 100%;
    width: 75vw;
}

.row-container{
    height: 100%;
    display: flex;
    flex-direction: row;
}

.right-container{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color:  rgba(0, 0, 0, 0.199);
    width: calc(25vw - 30px);
    border-radius: 10px;
    margin-top: 30px;
    margin-right: 30px;
    margin-bottom: 30px;
}

#input{
    width: 100%;
    background-color: rgba(255, 255, 255, 0.034);
    border: none;
    box-sizing: border-box;
    padding: 15px;
    border-radius: 6px;
    color: rgba(255, 255, 255, 0.774);
    font-size: 1rem;
}

#input::placeholder{
    color: rgba(255, 255, 255, 0.322);
}

#input:focus{
    outline: none;
}

.input{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 20px;
    margin-bottom: 20px;
}

#chat{
    overflow-y: scroll;
    padding-top: 20px;
    position: relative;
    height: 100%;
    overflow-x: hidden;
}

#chat p{
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 20px;
    background-color: rgba(71, 71, 71, 0.432);
    box-sizing: border-box;
    font-size: 1rem;
    padding: 15px;
    border-radius: 6px;
    display: inline-block;
    clear: both;
    float: left;
    word-wrap: break-word;
    max-width: calc(100% - 40px);
    color: rgba(255, 255, 255, 0.774);
}

span{
    color: rgba(255, 255, 255, 0.774);
    display: inline-block;
    clear: both;
    float: left;
    word-wrap: break-word;
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 5px;
    font-size: 0.8rem;
}

.server-msg{
    width: calc(100% - 40px);
    margin-bottom: 20px !important;
    text-align: center;
    font-size: 0.9rem;
    font-style: italic;
}

.my-username{
    float: right !important;
}

.my-message{
    float: right !important;
    background-color: rgba(71, 71, 71, 0.9) !important;
}

::-webkit-scrollbar {
    width: 7px;
}

::-webkit-scrollbar-track {
    background: none; 
}

::-webkit-scrollbar-thumb {
    background: rgb(51, 51, 51); 
    border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
    background: rgb(58, 58, 58); 
}

#aicontainer{
    width: 100vw;
    height: 100vh;
    position: absolute;
    background-color: rgba(0, 0, 0, 0.788);
    z-index: 999;
}

.aipopup{
    width: 40vw;
    height: 60vh;
    background-color: rgb(34, 35, 36);
    position: relative;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    top: 50%;
    border-radius: 10px;
}

#aiimage, #spinner{
    object-fit: cover;
    max-height: 80%;
    max-width: 90%;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translateX(-50%) translateY(-45%);
}

#aiimage{
    border-radius: 5px;
}

#spinner{
    height: 50px !important;
}

.aiheader{
    box-sizing: border-box;
    padding: 20px 30px;
    color: rgba(255, 255, 255, 0.767);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#setup{
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#name{
    background: none;
    border: none;
    border-bottom: 2px solid rgba(255, 255, 255, 0.329);
    font-size: 1.5rem;
    box-sizing: border-box;
    padding: 10px 0px;
    color: white;
}

#name:focus{
    outline: 0;
}

#row{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: 40px;
}

#row button{
    background: none;
    border: 1px solid white;
    padding: 10px;
    transition: 0.1s ease;
    border-radius: 5px;
    font-size: 1rem;
    color: white;
    margin-left: 30px;
}

#row button:hover{
    cursor: pointer;
    background-color: white;
    color: black;
    transition: 0.2s ease;
}

#row button:focus{
    outline: 0;
}

.fadeOut{
    animation: fadeOut 0.5s ease;
    animation-fill-mode: forwards;
}

.fadeIn{
    animation: fadeIn 0.5s ease;
    animation-fill-mode: forwards;
}

@keyframes fadeOut{
    0%{
        opacity: 1;
        pointer-events: all;
    }
    100%{
        opacity: 0;
        pointer-events: none;
    }
}

@keyframes fadeIn{
    0%{
        opacity: 0;
        pointer-events: none;
    }
    100%{
        opacity: 1;
        pointer-events: all;
    }
}

#error{
    margin-top: 50px;
    font-size: 1.2rem;
    color: white;
    border-bottom: 1px dotted white;
}

.followup-msg{
    margin-top: -13.5px;
}

#sendMessage{
    margin-left: 20px;
    color: rgba(255, 255, 255, 0.336);
}

#sendMessage:hover{
    color: rgba(255, 255, 255, 0.685);
}

#chat b{
    font-weight: 700;
    color: white;
}

#isTyping{
    padding: 0 !important;
    background-color: rgba(0, 0, 0, 0) !important;
    padding-bottom: 20px;
}